{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Bienvenue sur mon blog !</h1>
    </div>

    <h2>Tu m'offres ce magnifique cadeau ? Merci !</h2>
    <img class="img-wow" src="https://bnetcmsus-a.akamaihd.net/cms/content_entry_media/W6QOR38NVMZ31557525006011.jpg" alt="WoW">
{% endblock %}
